:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url("public/assets/iteration-1/home-banner.png");
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 500px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  font-size: 20px;
  margin-top: -150px;
  font-weight: 1;
}

header img {
  width: 250px;
  padding: 0.5rem;
}
p.content-text {
  color: #fdc913;
  font-style: italic;
  font-family: satisfy;
}

.secenekler {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 2rem;
  line-height: 2rem;
  background-color: #ffffff;
}

h1 {
  font-size: 3rem;
  font-weight: 100;
  font-family: Roboto Condensed;
}

.btn-pizza {
  padding: 10px 20px;
  background-color: #fdc913;
  color: black;
  font-weight: bold;
  border: none;

  border-radius: 20px;
}

.tasarım {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: center;
  height: 70vh;
  background-color: #faf7f2;
  gap: 2rem;
  padding: 2rem;
}
.tasarım-menu.sol {
  background-image: url(public/assets/iteration-2/cta/kart-1.png);
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
  align-items: center;
  background-repeat: no-repeat;
  text-align: left;
  height: 80%;
  width: 20%;
  border-radius: 5px;
  color: #ffffff;
}
.tasarım-menu.sag {
  display: flex;
  flex-direction: column;
  height: 80%;
  width: 20%;
}

.tasarım-menu.sol h1 {
  font-size: 2rem;
  font-style: bold;
  color: white;
  margin-bottom: 0.75rem;
}
.tasarım-menu.sol p {
  font-size: 10px;
  margin-bottom: 1rem;
}
.hackhatlon-menu h2 {
  color: white;
  font-size: 16px;
  text-align: left;
  padding-top: 30px;
}

.teslimat h2 {
  font-size: 16px;
  text-align: center;
  font-weight: 900;
}
.btn-siparis {
  padding: 5px 5px;
  background-color: white;
  font-weight: 600;
  font-size: 10px;
  border: none;
  color: #ce2829;
  border-radius: 10px;
  cursor: pointer;
}

.hackhatlon-menu {
  background-image: url(public/assets/iteration-2/cta/kart-2.png);
  text-align: left;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  gap: 2rem;
  border-radius: 5px;
  align-items: center;
  height: 100%;
}

.teslimat {
  background-image: url(public/assets/iteration-2/cta/kart-3.png);
  text-align: left;
  gap: 2rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 5px;
}

.tercih {
  text-align: center;
  padding: 1rem 1rem;
  margin-top: -60px;
  background-color: #faf7f2;
}

.tercih h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.tercih p {
  font-family: Satisfy;
  font-style: italic;
  font-size: 1.8rem;
  font-weight: bold;
  color: #c62828;
  margin: 0;
  font-family: 600;
}
.icons {
  background-color: #faf7f2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.btn-icon {
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 5px;
  background-color: #ffffff;
  flex-wrap: nowrap;
  border: none;
  gap: 1rem;
}
.btn-icon img {
  width: 20px;
  height: 20px;
}
/* .btn-icon.pizza {
  background-color: black;
  color: white;
} */

.menu {
  display: flex;
  justify-content: center;
  background-color: #faf7f2;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.menu-section {
  background-color: #ffffff;
  width: 300px;
}
.menu-container img {
  width: 100%;
}

.menu-content {
  padding: 1rem;
}
.menu-card h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.point {
  color: #fdc913;
  font-weight: bold;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
/* .menu-container {
  width: 90%;
  height: 20%;
} */

footer {
  background-color: #1e1e1e;
  color: white;
  padding: 4rem 2rem 2rem;
  height: 400px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  height: 300px;
  width: 70%;
}
.footer-section.contact {
  flex: 1;
  min-width: 250px;
}

.logo-footer img {
  width: 180px;
  margin-bottom: 1rem;
}

.contact-info {
  padding: 0;
  margin: 0;
}

.contact-info li {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 1rem 0;
  line-height: 1.5;
  gap: 10px;
}

.contact-info img {
  /* margin-right: 10px; */
  width: 20px;
  height: 20px;
}

.footer-section.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 200px;
  background-color: #1e1e1e;
}

.footer-section.menu h4 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.2rem;
}

.footer-section.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.footer-section.instagram {
  flex: 1;
  min-width: 250px;
}

.footer-section.instagram h4 {
  margin-bottom: 1rem;
}

.insta-images ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.insta-images ul img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 2rem;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.footer-bottom .social-icons i {
  margin-left: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

/* .footer-section li {
  background-color: #1e1e1e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 1rem;
}

.footer-section li img {
  width: 20px;
  height: 20px;
}
 */

/* Alt bilgi kısmı /
.footer-container > div:last-child {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  border-top: 1px solid #333;
  padding-top: 1rem;
  color: #aaa;
  font-size: 0.9rem;
}

.footer-container > div:last-child i {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: #aaa;
}

/*

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

/* h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul {
  display: flex;
  list-style-type: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
